/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    align-items: center;
    display: flex;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* html {
    height: 100%;
} */

body {
    background: url('finance21.jpg');
    background-position: center;
    /* backdrop-filter: blur(5px); */
    /* background-color: #ffffff; */
    /* height: 100%;
    margin: 0; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
    /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

tr.text-success th,
tr.text-success td {
    color: inherit;
    /* padding: 3px; */
}

tr.text-danger th,
tr.text-danger td {
    color: inherit;
    /* padding: 3px; */
}

tr.text-primary th,
tr.text-primary td {
    color: inherit;
    /* padding: 3px; */
}

tr.text-secondary th,
tr.text-secondary td {
    color: inherit;
    /* padding: 3px; */
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.container-doughnut-chart {
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    padding: 12px 12px;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 500px;
    width: 900px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(7px);
}

.container-bar-chart {
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    padding: 12px 12px;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 625px;
    width: 900px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(7px);
}

.container-horizontal-bar-chart {
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    padding: 12px 12px;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    height: 625px;
    width: 900px;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(7px);
}

.container-item-filter {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 12px;
}

.container-topic {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
}

.container-item-topic {
    padding: 6px;
}

.container-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 12px 12px;
}

.container-hbar-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 12px 12px;
}

.container-doughnut-canvas {
    padding: 12px 12px;
    height: 100%;
    width: 52%;
}

.container-bar-canvas {
    padding: 12px 12px;
    height: 100%;
    width: 50%;
}

.container-hbar-canvas {
    padding: 12px 12px;
    width: 100%;
    height: 60%;
}

.container-item-legend {
    display: flex;
    flex-direction: column;
    padding: 12px 12px;
}

.container-stacked-bar-legend {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 12px 12px;
}

.container-item-inflows {
    display: flex;
    flex-direction: column;
    padding: 6px 6px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.container-item-outflows {
    display: flex;
    flex-direction: column;
    padding: 6px 6px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.container-item-net-balance {
    display: flex;
    flex-direction: column;
    padding: 6px 6px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.container-hbar-item-legend {
    display: flex;
    flex-flow: row wrap;
    padding: 12px 12px;
    justify-content: space-evenly;
}

.container-item-innerlegends {
    display: flex;
    align-items: center;
    padding: 12px 12px;
}

.currency-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    margin: auto;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.9);
}

.success-color-box {
    width: 20px;
    height: 20px;
    background-color: rgb(25, 135, 84);
    margin-right: 10px;
}

.warning-color-box {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 193, 7);
    margin-right: 10px;
}

.danger-color-box {
    width: 20px;
    height: 20px;
    background-color: rgb(220, 53, 69);
    margin-right: 10px;
}

.expense-color-box {
    width: 20px;
    height: 20px;
    background-color: rgb(23, 162, 184);
    margin-right: 10px;
}

.primary-color-box {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 123, 255);
    margin-right: 10px;
}

.food-color-box,
.salary-color-box {
    width: 20px;
    height: 20px;
    background-color: #FF5733;
    margin-right: 10px;
}

.rent-color-box,
.bank-interest-color-box {
    width: 20px;
    height: 20px;
    background-color: #33FF57;
    margin-right: 10px;
}

.other-expense-color-box,
.other-income-color-box {
    width: 20px;
    height: 20px;
    background-color: #3357FF;
    margin-right: 10px;
}

.stock-color-box {
    width: 20px;
    height: 20px;
    background-color: #FF33A8;
    margin-right: 10px;
}

.crypto-color-box {
    width: 20px;
    height: 20px;
    background-color: #33FFF5;
    margin-right: 10px;
}

.real-estate-color-box {
    width: 20px;
    height: 20px;
    background-color: #FFA533;
    margin-right: 10px;
}

.other-investment-color-box {
    width: 20px;
    height: 20px;
    background-color: #8D33FF;
    margin-right: 10px;
}

.borrow-color-box {
    width: 20px;
    height: 20px;
    background-color: #FF3380;
    margin-right: 10px;
}

.receivable-color-box {
    width: 20px;
    height: 20px;
    background-color: #33FF99;
    margin-right: 10px;
}

.transportation-color-box {
    width: 20px;
    height: 20px;
    background-color: #FF9F00;
    margin-right: 10px;
}

.clothing-color-box {
    width: 20px;
    height: 20px;
    background-color: #5733FF;
    margin-right: 10px;
}

.lend-color-box {
    width: 20px;
    height: 20px;
    background-color: #FF33E1;
    margin-right: 10px;
}

.debt-color-box {
    width: 20px;
    height: 20px;
    background-color: #33C7FF;
    margin-right: 10px;
}

.success-bg-topic {
    /* background-color: rgb(25, 135, 84); 
    color: white; */
    background-color: #86E49D;
    color: #006B21;  
    padding: 4px 8px; 
    border-radius: 10px;
}

.secondary-bg-topic {
    background-color: rgb(108, 117, 125); 
    color: white; 
    padding: 4px 8px; 
    border-radius: 10px;
}

.danger-bg-topic {
    /* background-color: rgb(220, 53, 69); 
    color: white; */
    background-color: #D893A3; 
    color: #B30021; 
    padding: 4px 8px; 
    border-radius: 10px;
}

.success-bg-text {
    /* background-color: rgb(25, 135, 84);  */
    background-color: #86E49D;
    color: #006B21; 
    padding: 0 4px 0 4px; 
    border-radius: 5px;
}

.text-bg-success {
    background-color: #86E49D !important;
    color: #006B21 !important; 
}

.secondary-bg-text {
    background-color: rgb(108, 117, 125); 
    color: white; 
    padding: 0 4px 0 4px; 
    border-radius: 5px;
}

/* .text-bg-secondary {
    background-color: white !important; 
    color: black !important;
} */

.warning-bg-text {
    background-color: rgb(255, 193, 7); 
    color: white; 
    padding: 0 4px 0 4px; 
    border-radius: 5px;
}

.text-bg-warning {
    background-color: #ebc474 !important; 
}

.danger-bg-text {
    /* background-color: rgb(220, 53, 69);  */
    background-color: #D893A3; 
    color: #B30021; 
    padding: 0 4px 0 4px; 
    border-radius: 5px;
}

.text-bg-danger {
    /* background-color: rgb(220, 53, 69);  */
    background-color: #D893A3 !important; 
    color: #B30021 !important; 
}

/* Table design */
.custom-table td {
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
}

.custom-table td[scope="row"] {
    text-align: center;
}

tr {
    height: 40px;
    vertical-align: middle;
}

.custom-debt-table td {
    /* padding-left: 30px;
    padding-right: 20px; */
    text-align: right;
}

.custom-debt-table .narrow-width {
    padding: 0;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}

.investment-narrow-width {
    padding: 0 !important;
    /* width: 17px !important;
    min-width: 17px !important;
    max-width: 17px !important; */
}

.custom-debt-table td[scope="row"] {
    text-align: center;
}

.custom-table-history td {
    padding-left: 30px;
    padding-right: 30px;
}

/* Scrollable container */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Shadows to card box */
.card-custom {
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.8);
}

/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgba(255, 255, 255, 0.6);
   backdrop-filter: blur(7px);
} */

.ga-maamli-regular {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-custom-budgetary {
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 15px;
}

.card-custom-register,
.card-custom-login,
.card-custom-change-password {
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 15px;
    max-width: 250px;
    margin: 0 auto;
}

.card-custom-history {
    /* padding: 12px 0; */
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.9);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; */
}

.history-flex-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px 10px 15px;
    width: auto;
}