{% extends "layout.html" %}

{% block title %}
    Analysis
{% endblock %}

{% block main %}
<div class="financial-stats-container">
    <div class="h5 text-center">Total Financial Position Breakdown</div>
    <div class="h5 text-center success-bg-text" id="total-assets">USD {{ total_assets | currency }}</div>
    <div class="finalcial-stats">
        <div class="doughnut-chart-container">
            <canvas id="doughnut-chart" class="doughnut-chart"></canvas>
        </div>

        <div class="financial-stat-details text-start">
            <div class="legend">
                <div class="success-color-box"></div>
                <span>Cash & Bank Deposits:&nbsp;</span>
                <span class="success-bg-text">USD {{ total_cash_bank | currency }}</span>
                <div id="total-cash-bank" style="display: none;">{{ total_cash_bank }}</div>
            </div>
            <div class="legend">
                <div class="warning-color-box"></div>
                <span>Investments:&nbsp;</span>
                <span class="warning-bg-text">USD {{ investment_total | currency }}</span>
                <div id="investment-total" style="display: none;">{{ investment_total }}</div>
            </div>
            <div class="legend">
                <div class="danger-color-box"></div>
                <span>Debts & Receivables:&nbsp;</span>
                <span class="danger-bg-text">USD {{ debt_total | currency }}</span>
                <div id="debt-total" style="display: none;">{{ debt_total }}</div>
            </div> 
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const doughnutChart = document.getElementById('doughnut-chart');
    const totalCashBank = Number(document.getElementById('total-cash-bank').innerText) || 0;
    const investmentTotal = Number(document.getElementById('investment-total').innerText) || 0;
    const debtTotal = Number(document.getElementById('debt-total').innerText) || 0;
    const doughnutChartData = {
        labels: ['Cash & Bank Deposits', 'Investments', 'Debts & Receivables'],
        data: [totalCashBank, investmentTotal, debtTotal]
    }
    new Chart(doughnutChart, {
        type: 'doughnut',
        data: {
        labels: doughnutChartData.labels,
        datasets: [{
            label: 'Financial Distribution in USD',
            data: doughnutChartData.data,
            backgroundColor: [
                'rgb(25, 135, 84)',
                'rgb(255, 193, 7)',
                'rgb(220, 53, 69)'
            ],
            hoverOffset: 4
        }]
        },
        options: {
            plugins: {
                legend: {
                display: false
                }
            },
            responsive: false,
            borderWidth: 3,
            borderRadius: 2,
            hoverBorderWidth: 0
        }
    });
</script>


{% endblock %}

{% block scripts %}
{% endblock %}