{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="card card-custom-change-password">
    <form action="/change-password" method="post">
        <div class="mb-4">
            <input class="form-control mx-auto w-auto" name="old-password" placeholder="Old password" type="password" required>
        </div>
        <div class="mb-4">
            <input class="form-control mx-auto w-auto" name="new-password" placeholder="New password" type="password" required>
        </div>
        <div class="mb-4">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Re-type new password" type="password" required>
        </div>
        <button class="btn btn-secondary" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}