{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card card-custom-history history-flex-container mb-4 col-md-7">
        <div class="h5 text-center py-3">
            Filter History by Date
        </div>
        <form class="d-flex row justify-content-center" action="/history" method="post">
            <div class="col-md-5 mb-4">
                <div class="input-group">
                    <span class="input-group-text fw-bold">From</span>
                    <input class="form-control" name="start_date" id="start_date" placeholder="Select start date" value="{{ start_date }}" type="date">
                </div>
            </div>
            <div class="col-md-5 mb-4">
                <div class="input-group">
                    <span class="input-group-text fw-bold">To</span>
                    <input class="form-control" name="end_date" id="end_date" placeholder="Select end date" value="{{ end_date }}" type="date">
                </div>
            </div>
            <div class="col-md-2 mb-4 text-start">
                <button class="btn btn-secondary" type="submit">Filter</button>
            </div>
        </form>  
    </div> 
</div>

<div class="card card-custom mb-4 col-md-12">
    <div class="card-header text-bg-success">Incomes & Expenses</div>
    <div class="card-body table-responsive">
        <table class="table custom-table-history table-striped table-hover">
            <thead>
                <tr class="fw-bold">
                <th scope="col">Date (yyyy-mm-dd)</th>
                <th scope="col">Type</th>
                <th scope="col">Category</th>
                <th scope="col">Comment</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in income_spending_rows %}
                <tr class="
                    {% if row['type'] == 'income' %}
                        text-success
                    {% elif row['type'] == 'expense' %}
                        text-danger
                    {% endif %}">
                    <td scope="row">{{ row['date'] }}</td>
                    <td>{{ row['type'] }}</td>
                    <td>
                        {% if row['category'] == 'other-spending' %}
                            other-expense
                        {% else %}
                            {{ row['category'] }}
                        {% endif %}
                    </td>
                    <td class="text-start">{{ row['comment'] }}</td>
                    <td>{{ row['payment_method'] }}</td>
                    <td>{{ row['currency'] | upper }}</td>
                    <td class="text-end">{{ row['amount'] | currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card card-custom border-dark mb-4 col-md-12">
    <div class="card-header text-bg-warning">Investments</div>
    <div class="card-body table-responsive">
        <table class="table custom-table-history table-striped table-hover">
            <thead>
                <tr class="fw-bold">
                <th scope="col">Date (yyyy-mm-dd)</th>
                <th scope="col">Type</th>
                <th scope="col">Symbol / Comment</th>
                <th scope="col">Buy / Sell</th>
                <th scope="col">Quantity</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in investment_rows %}
                <tr class="
                {% if row['buy_sell'] == 'buy' %}
                    text-success
                {% elif row['buy_sell'] == 'sell' %}
                    text-danger
                {% endif %}">
                    <td scope="row">{{ row['date'] }}</td>
                    <td>{{ row['type'] }}</td>
                    <td>{{ row['symbol_comment'] }}</td>
                    <td>{{ row['buy_sell'] }}</td>
                    <td>{{ row['quantity'] }}</td>
                    <td>{{ row['payment_method'] }}</td>
                    <td>{{ row['currency'] | upper }}</td>
                    <td class="text-end">{{ row['amount'] | currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="card card-custom mb-4 col-md-12">
    <div class="card-header text-bg-danger">Debts & Receivables</div>
    <div class="card-body table-responsive">
        <table class="table custom-table-history table-striped table-hover">
            <thead>
                <tr class="fw-bold">
                <th scope="col">Date (yyyy-mm-dd)</th>
                <th scope="col">Category</th>
                <th scope="col">Debtor / Creditor</th>
                <th scope="col">Monthly Interest Rate</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Currency</th>
                <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in debt_rows %}
                <tr class="
                {% if row['category'] == 'borrow' or row['category'] == 'brepay' %}
                    text-danger
                {% elif row['category'] == 'lend' or row['category'] == 'lrepay' %}
                    text-success
                {% endif %}">
                    <td scope="row">{{ row['date'] }}</td>
                    <td>
                        {% if row['category'] == 'brepay' or row['category'] == 'lrepay' %}
                            repay
                        {% else %}
                            {{ row['category'] }}
                        {% endif %}
                    </td>
                    <td>{{ row['debtor_or_creditor'] }}</td>
                    <td>
                        {% if row['interest_rate'] == None %}
                            -  
                        {% else %}
                            {{ row['interest_rate'] }}%
                        {% endif %}
                    </td>
                    <td>{{ row['payment_method'] }}</td>
                    <td>{{ row['currency'] | upper }}</td>
                    <td class="text-end">{{ row['amount'] | currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}