{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-4 mb-4 d-flex">
        <div class="card card-custom flex-fill">
            <div class="card-header text-bg-secondary">Total Assets & Liabilities</div>
            <div class="card-body">
                <span class="card-title h5">Total Assets & Liabilities in</span>
                <select name="asset-currency-select" id="asset-currency-select" class="h5" onchange="convertAssetCurrency()">
                    <option value="usd" selected>USD</option>
                    {% for currency_v in currencies %}
                        {% if currency_v != 'usd' %}
                        <option value="{{ currency_v }}">{{ currency_v | upper }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div style="display: none;" id="total_assets_raw">{{ total_assets }}</div>
                <div class="d-flex flex-column justify-content-center" style="height: 70%; padding: 12px 12px; align-items: center;">
                    <div class="card-text h2
                    {%  if total_assets > 0 %}
                        success-bg-topic
                    {% elif total_assets == 0 %}
                        secondary-bg-topic
                    {% else %}
                        danger-bg-topic
                    {% endif %}" id="total_assets">{{ total_assets | currency }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-8 mb-4">
        <div class="card card-custom">
            <div class="card-header text-bg-success">Cash & Bank Deposits</div>
            <div class="card-body table-responsive p-3">
                <table class="table table-striped custom-table table-hover">
                    <thead>
                        <tr class="fw-bold">
                            <th scope="col"></th>
                            <th scope="col">Cash</th>
                            <th scope="col">Bank Deposits</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <!-- <tr>
                            <td scope="row">USD</td>
                            <td>{{ cash['usd'] }}</td>
                            <td>{{ bank['usd'] }}</td>
                        </tr> -->
                        {% for currency_v in currencies %}
                            <tr>
                                <td scope="row">{{ currency_v | upper }}</td>
                                <td>{{ cash[currency_v] }}</td>
                                <td>{{ bank[currency_v] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-group-divider">
                        <td scope="row">Equivalent Total in
                            <select name="cash-currency-select" id="cash-currency-select" onchange="convertCashCurrency()">
                                <option value="usd" selected>USD</option>
                                {% for currency_v in currencies %}
                                    {% if currency_v != 'usd' %}
                                    <option value="{{ currency_v }}">{{ currency_v | upper }}</option>
                                    {% endif %}
                                {% endfor %}    
                            </select>
                        </td>
                        <span id="total_cash_raw" style="display: none;">{{ total_cash_usd }}</span>
                        <span id="total_bank_raw" style="display: none;">{{ total_bank_usd }}</span>
                        <td id="total_cash">{{ total_cash_usd | currency }}</td>
                        <td id="total_bank">{{ total_bank_usd | currency }}</td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>   

<div class="card card-custom mb-4 col-md-12">
    <div class="card-header text-bg-warning">Investments</div>
    <div class="card-body table-responsive opacity-80">
        <table class="table table-striped custom-table table-hover">
            <thead>
                <tr class="fw-bold">
                    <th scope="col">Category</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Market Value (in USD)</th>
                    <th scope="col">Profit / Loss (in USD)</th>
                    <th scope="col" style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in investment_rows %}
                <tr>
                    <td scope="row">
                        {{ row['investment_type'] }}
                    </td>
                    <td scope="row">{{ row['symbol'] }}</td>
                    <td scope="row">{{ row['quantity'] }}</td>
                    <td>{{ row['original_value'] | currency }}</td>
                    <td>
                        <span class="
                            {% if row['profit_loss'] > 0 %}
                                success-bg-text
                            {% elif row['profit_loss'] == 0 %}
                                secondary-bg-text
                            {% else %}
                                danger-bg-text
                            {% endif %}">{{ row['profit_loss'] | profit }}
                        </span>
                    </td> 
                    <td class="investment-narrow-width" style="width: 30px;">
                        {% if row['quantity'] == 0 %}
                            <i class="bi bi-trash btn" value="{{ row['symbol'] }}" onclick="deleteInvestment(event)" type="button" style="color: rgb(220, 53, 69);"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-group-divider">
                <td colspan="3">Equivalent Total in
                    <select name="investment-currency-select" id="investment-currency-select" onchange="convertInvestmentCurrency()">
                        <option value="usd" selected>USD</option>
                        {% for currency_v in currencies %}
                            {% if currency_v != 'usd' %}
                            <option value="{{ currency_v }}">{{ currency_v | upper }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <span id="investment_total_raw" style="display: none;">
                    {{ investment_total }}
                </span>
                <span id="profit_loss_total_raw" style="display: none;">
                    {{ profit_loss_total }}
                </span>
                <td id="investment_total">
                    {{ investment_total | currency }} 
                </td> 
                <td>
                    <span id="profit_loss_total" class="
                        {% if profit_loss_total > 0 %}
                            success-bg-text
                        {% elif profit_loss_total == 0 %}
                            secondary-bg-text
                        {% else %}
                            danger-bg-text
                        {% endif %}">{{ profit_loss_total | profit }}
                    </span>
                </td> 
                <td></td>
            </tfoot>
        </table>
    </div>
</div>

<div class="card card-custom mb-4 col-md-12">
    <div class="card-header text-bg-danger">Debts & Receivables</div>
    <div class="card-body table-responsive">
        <table class="table table-striped custom-debt-table table-hover">
            <thead>
                <tr class="fw-bold">
                    <th scope="col">Category</th>
                    <th scope="col">Debtor / Creditor</th>
                    <th scope="col">Date (yyyy-mm-dd)</th>
                    <th scope="col">Monthly Interest Rate</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Interest</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in debt_rows %}
                <tr class="
                {% if row['debt_category'] == 'borrow' and row['amount'] == 0 %}
                    text-decoration-line-through
                {% elif row['debt_category'] == 'lend' and row['amount'] == 0 %}
                    text-decoration-line-through
                {% endif %}">
                    <td scope="row">
                        <span>
                            {% if row['debt_category'] == 'borrow' %}
                                debt
                            {% elif row['debt_category'] == 'lend' %}
                                receivable
                            {% endif %}
                        </span> 
                    </td>
                    <td scope="row">{{ row['debtor_or_creditor'] }}</td>
                    <td scope="row">{{ row['transaction_date'] }}</td>
                    <td scope="row">{{ row['interest_rate'] }}%</td>
                    <td scope="row">{{ row['currency'] | upper }}</td>
                    <td>
                        <span class="
                            {% if row['debt_category'] == 'borrow' %}
                                danger-bg-text
                            {% elif row['debt_category'] == 'lend' %}
                                success-bg-text
                            {% endif %}">{{ row['amount'] | currency }}
                        </span>
                    </td>
                    <td>
                        <span class="
                            {% if row['debt_category'] == 'borrow' %}
                                danger-bg-text
                            {% elif row['debt_category'] == 'lend' %}
                                success-bg-text
                            {% endif %}">{{ row['interest'] | profit }}
                        </span>
                    </td>
                    <td class="narrow-width">
                        {% if row['amount'] == 0 %}
                            <i class="bi bi-trash btn" value="{{ row['debtor_or_creditor'] }}" onclick="deleteDebt(event)" type="button" style="color: rgb(220, 53, 69);"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-group-divider">
                <td colspan="5">Equivalent Total in
                    <select name="debt-currency-select" id="debt-currency-select" onchange="convertDebtCurrency()">
                        <option value="usd" selected>USD</option>
                        {% for currency_v in currencies %}
                            {% if currency_v != 'usd' %}
                            <option value="{{ currency_v }}">{{ currency_v | upper }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <span id="debt_total_raw" style="display: none;">{{ debt_total }}</span>
                <span id="interest_total_raw" style="display: none;">{{ interest_total }}</span>
                <td>
                    <span id="debt_total" class="
                        {% if debt_total > 0 %}
                            success-bg-text
                        {% elif debt_total == 0 %}
                            secondary-bg-text
                        {% else %}
                            danger-bg-text
                        {% endif %}">{{ debt_total | currency}}
                    </span>
                </td>
                <td>
                    <span id="interest_total" class="
                        {% if debt_total > 0 %}
                            success-bg-text
                        {% elif debt_total == 0 %}
                            secondary-bg-text
                        {% else %}
                            danger-bg-text
                        {% endif %}">{{ interest_total | profit }}
                    </span>
                </td>
                <td></td>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function convertCashCurrency() {
        const selectedCurrency = document.getElementById('cash-currency-select').value;
        const cashAmount = document.getElementById('total_cash_raw').textContent;
        const bankAmount = document.getElementById('total_bank_raw').textContent;

        fetch(`/convert_currency?final_currency=${selectedCurrency}&value_in_usd=${cashAmount}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('total_cash').textContent = data.converted_amount
            })

        fetch(`/convert_currency?final_currency=${selectedCurrency}&value_in_usd=${bankAmount}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('total_bank').textContent = data.converted_amount
            })
    }


    function convertInvestmentCurrency() {
        const selectedCurrency = document.getElementById('investment-currency-select').value;
        const investmentTotal = document.getElementById('investment_total_raw').textContent;
        const profitLossTotal = document.getElementById('profit_loss_total_raw').textContent;

        fetch(`/convert_currency?final_currency=${selectedCurrency}&value_in_usd=${investmentTotal}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('investment_total').textContent = data.converted_amount
            })

        fetch(`/convert_profit_currency?final_currency=${selectedCurrency}&value_in_usd=${profitLossTotal}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('profit_loss_total').textContent = data.converted_amount
            })
    }


    function convertDebtCurrency() {
        const selectedCurrency = document.getElementById('debt-currency-select').value;
        const debtTotal = document.getElementById('debt_total_raw').textContent;
        const interestTotal = document.getElementById('interest_total_raw').textContent;

        fetch(`/convert_currency?final_currency=${selectedCurrency}&value_in_usd=${debtTotal}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('debt_total').textContent = data.converted_amount
            })

        fetch(`/convert_profit_currency?final_currency=${selectedCurrency}&value_in_usd=${interestTotal}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('interest_total').textContent = data.converted_amount
            })
    }


    function convertAssetCurrency() {
        const selectedCurrency = document.getElementById('asset-currency-select').value
        const assetTotal = document.getElementById('total_assets_raw').textContent
        
        fetch(`/convert_currency?final_currency=${selectedCurrency}&value_in_usd=${assetTotal}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('total_assets').textContent = data.converted_amount
            })
    }


    function deleteDebt() {
        const debtor_or_creditor = event.target.getAttribute('value');

        fetch('/delete_debt', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ debtor_or_creditor: debtor_or_creditor }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Data deleted successfully');
                window.location.reload();
            }
            else {
                console.log('Data deletion error');
            }
        })
    }


    function deleteInvestment() {
        const symbol_comment = event.target.getAttribute('value');

        fetch('/delete_investment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ symbol_comment: symbol_comment }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Data deleted successfully');
                window.location.reload();
            }
            else {
                console.log('Data deletion error');
            }
        })
    }
</script>
{% endblock %}