<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
        <link href="/static/budgetary.png" rel="icon">  
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/mark.js/dist/mark.min.js"></script>

        <title>Budgetary: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="bg-light border navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">
                    <span class="d-flex align-items-center" style="height: 40px;">
                        <img src="static/budgetary.png" alt="budgetary-logo" style="height: 40px; width: auto;">
                    </span>
                    <span class="ga-maamli-regular blue"> 
                        &nbsp;BUDGETARY
                    </span>
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item px-2"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/budgetary">Daily Budgetary</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/analysis">Analysis</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/history">History</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/currency">Currency</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item px-2"><a class="nav-link" href="/change-password">Change Password</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item px-2"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item px-2"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        <header>
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert {{ category }} mb-0 text-center" role="alert">
            <!-- {{ get_flashed_messages() | join(" ") }} -->
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </header>
        {% endwith %}

        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5">
            <p class="mb-3 small text-center text-muted">
                Data provided by 
                <a href="https://www.frankfurter.app/">Frankfurter</a>,&nbsp;
                <a href="https://finance.yahoo.com/">Yahoo</a>, and
                <a href="https://www.binance.com/">Binance</a>
                <!-- To provide other reference APIs as well -->
            </p>
            <p class="mb-3 small text-center text-muted">
                Budget icon created by <a href="https://www.flaticon.com/free-icons/budget" title="budget icons">Freepik - Flaticon</a>
            </p>
            <p class="small text-center text-muted">
                Background image created by <a href="https://th.pngtree.com/freebackground/cartoon-internet-business-finance-poster-background_1071853.html?sol=downref&id=bef" title="budget icons">588ku - pngtree</a>
            </p>
            {% block scripts %}{% endblock %}
        </footer>
    </body>
</html>