{% extends "layout.html" %}

{% block title %}
    Daily Budgetary
{% endblock %}

{% block main %}
    <form action="/budgetary" method="post">
        
        <div class="row">
            <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input autofocus class="form-control mx-auto w-auto" name="date" id="date" placeholder="Date" type="date">
            </div>
    
            <div class="form-group col-md-6">
                <label for="budgetary-type">Budgetary Type</label>
                <select name="budgetary-type" id="budgetary-type" class="form-select">
                    <option selected>Choose budgetary type</option>
                    <option value="income">Income</option>
                    <option value="spending">Spending</option>
                    <option value="investment">Investment</option>
                    <option value="debt">Debt</option>
                </select>
            </div>
        </div>

        <!-- Income fields -->
        <div id="incomeFields" class="row">   
            <div class="form-group col-md-6">
                <select name="income-type" id="income-type" class="form-select">
                    <option selected>Choose income type</option>
                    <option value="salary">Salary</option>
                    <option value="bank-interest">Bank Interest</option>
                    <option value="other-income">Other</option>
                </select> 
            </div>

            <!-- Specify if other is chosen -->
            <div id="incomeOtherField" class="form-group col-md-6">
                <input autofocus class="form-control mx-auto w-auto" name="incomeOther" placeholder="For other, please specify" type="text">
            </div>
        </div>

        <!-- Spending fields -->
        <div id="spendingFields" class="row">

            <div class="form-group col-md-6">
                <select name="spending-type" id="spending-type" class="form-select">
                    <option selected>Choose spending type</option>
                    <option value="food">Food</option>
                    <option value="transportation">Transportation</option>
                    <option value="clothing">Clothing</option>
                    <option value="rent">Rent</option>
                    <option value="other-spending">Other</option>
                </select> 
            </div>

            <!-- Specify if other is chosen -->
            <div id="spendingOtherField" class="form-group col-md-6">
                <input autofocus class="form-control mx-auto w-auto" name="spendingOther" placeholder="For other, please specify" type="text">
            </div>

        </div>

        <!-- Investment fields -->
        <div id="investmentFields" class="hidden">

            <div class="form-group form-floating mb-3">
                <select name="investment-type" id="investment-type" class="form-select">
                    <option selected>Choose spending type</option>
                    <option value="stock">Stock</option>
                    <option value="cryptocurrency">Cryptocurrency</option>
                    <option value="real-estate">Real Estate</option>
                    <option value="other-investment">Other</option>
                </select> 
            </div>

            <!-- Specify if other is chosen -->
            <div id="investmentOtherField" class="hidden">
                <div class="form-group form-floating mb-3">
                    <input autofocus class="form-control mx-auto w-auto" name="investmentOther" placeholder="For other, please specify" type="text">
                </div>
            </div>

            <!-- Check if user buys or sells investment -->
            <div class="form-group form-floating mb-3 hidden">
                <select name="buyOrSell" id="buyOrSell" class="form-select">
                    <option selected>Choose buy or sell</option>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select> 
            </div>

            <!-- Choose specific investment -->
            <div class="form-group form-floating mb-3 hidden">
                <select name="stockSymbol" id="stockSymbol" class="form-select hidden">
                    <option selected>Choose stock</option>
                    <!-- To create dynamic list of stock symbols -->
                </select> 

                <select name="cryptoSymbol" id="cryptoSymbol" class="form-select hidden">
                    <option selected>Choose cryptocurrency</option>
                    <!-- To create dynamic list of crypto symbols -->
                </select>

                <select name="realEstate" id="realEstate" class="form-select hidden">
                    <option selected>Choose real estate</option>
                    <option value="residential">Residential</option>
                    <option value="land">Land</option>
                    <option value="industrial">Industrial</option>
                    <option value="otherRealEstate">Other</option>
                </select>

                <!-- Specify if other real estate is chosen -->
                <div id="realEstateOtherField" class="hidden">
                    <div class="form-group form-floating mb-3">
                        <input autofocus class="form-control mx-auto w-auto" name="realEstateOther" placeholder="For other, please specify" type="text">
                    </div>
                </div>
            </div>

            <!-- Specify the amount of items -->
            <div id="amountOfItems" class="hidden">
                <div class="form-group form-floating mb-3">
                    <input autofocus class="form-control mx-auto w-auto" name="amountOfItems" placeholder="Amount of items" type="number" step="1">
                </div>
            </div>

        </div>

        <!-- debt fields -->
        <div id="debtFields" class="hidden">

            <div class="form-group form-floating mb-3">
                <select name="debt-type" id="debt-type" class="form-select">
                    <option selected>Choose receivable or payable</option>
                    <option value="receivable">Receivable</option>
                    <option value="payable">Payable</option>
                </select> 
            </div>

            <div class="form-group form-floating mb-3">
                <select name="newOrOldDebt" id="newOrOldDebt" class="form-select">
                    <option selected>Choose outstanding or new</option>
                    <option value="outstandingDebt">Outstanding Debt</option>
                    <option value="newDebt">New Debt</option>
                </select> 
            </div>

            <!-- Specify the interest rate -->
            <div id="interestRate" class="hidden">
                <div class="form-group form-floating mb-3">
                    <input autofocus class="form-control mx-auto w-auto" name="interestRate" placeholder="Interest rate" type="number" step="1">
                </div>
            </div>

        </div>

        <!-- Specifiying cash or bank balance for income -->
        <div id="incomePaymentMethod" class="hidden">
            <div class="form-group form-floating mb-3">
                <select name="income-payment-method" id="income-payment-method" class="form-select">
                    <option selected>Choose income method</option>
                    <option value="cash">Cash</option>
                    <option value="bank-balance">Bank Balance</option>
                </select> 
            </div>
        </div>

        <!-- Specify currency and amount -->
        <div id="currencyAndAmount" class="hidden">  
            <div class="form-group form-floating form-control mx-auto w-auto">
                <select name="currency" id="currency" class="form-select">
                    <option selected>USD</option>
                    <!-- To dynamically generate currency symbols -->
                </select>
                <input autofocus name="amount" id="amount" placeholder="Amount" type="text">
                <label for="amount">Amount</label>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
